In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('temperature_data.csv')
print(df.shape)
df.head()

(76009, 9)

,year,city,country,avg_temp,city.1,country.1,year.1,avg_temp.1,global_avg
0,1849,Abidjan,Côte D'Ivoire,7.98,Abidjan,Côte D'Ivoire,1849,7.98,7.98
1,1850,Abidjan,Côte D'Ivoire,7.90,Abidjan,Côte D'Ivoire,1850,7.90,7.90
2,1851,Abidjan,Côte D'Ivoire,8.18,Abidjan,Côte D'Ivoire,1851,8.18,8.18
3,1852,Abidjan,Côte D'Ivoire,8.10,Abidjan,Côte D'Ivoire,1852,8.10,8.10
4,1853,Abidjan,Côte D'Ivoire,8.04,Abidjan,Côte D'Ivoire,1853,8.04,8.04

In [ ]:
df.drop(['city.1', 'country.1', 'year.1', 'avg_temp.1'])